
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap');

:root {
    --heading-font: 'Orbitron';
    --paragraph-font: 'Calibri', Helvetica, sans-serif;
}

ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    border: solid black 2px;
    align-items: center;
    background-color: #F2651A;
}

a {
    color: black;
    text-decoration: none;
    border: solid black 1px;
    padding: 10px;
}

a:hover {
    color: white;
    background-color: #396E94;
    padding: 10px;
}

nav {
    display: flex;
    text-align: center;
    height: 100px;
}

img {
    width: 200px;
    display: block;
}

p {
    margin-bottom: 100px;
    border: solid #396E94 1px;
    padding: 20px;
    font-family: var(--paragraph-font);
}

main {
    width: 80%;
    justify-self: center;
}

h1 {
    text-align: center;
    border: black 2px solid;
    padding: 15px;
    color: #F2651A;
    font-family: var(--heading-font);
}

.logo_img {
    width: 60px;
    border: solid black 1px;
    margin: 0 auto;
    display: block;
    padding: 0px;

}

h1, p {
    width: 50%;
    justify-self: center;
}

.centerimg {
    justify-self: center;
}

